/* src/arrowDegree.css*/
.arrow0 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(315deg);
  }
  .arrow225 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(-22.5deg);
  }
  .arrow450 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(0deg);
  }
  .arrow675 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(22.5deg);
  }
  .arrow900 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
  .arrow1125 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(67.5deg);
  }
  .arrow1350 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(90deg);
  }
  .arrow1575 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(112.5deg);
  }
  .arrow1800 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
  }
  .arrow2025 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(157.5deg);
  }
  .arrow2250 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(180deg);
  }
  .arrow2475 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(202.5deg);
  }
  .arrow2700 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(225deg);
  }
  .arrow2925 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(247.5deg);
  }
  .arrow3150 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(270deg);
  }
  .arrow3375 {
    border: solid black;
    border-width: 3px 3px 0px 0px;
    display: inline-block;
    padding: 3px;
    transform: rotate(292.5deg);
  }